html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* siteWide */
body {
  background-color: #181818;
}

input {
  padding: 0;
  border: 0;
}

buttton {
  padding: 0;
  border: 0;
}
/* header */
header {
  display: flex;
  justify-content: space-between;
  background-color: #202020;
  height: 56px;
  width: auto;
}

header i {
  font-size: 24px;
  color: white;
}
/* header left column */

header .fa-youtube {
  color: red;
}

header #myChannel {
  height: 36px;
}

header #L-col-header {
  display: flex;
  justify-content: space-evenly;
  width: 185px;
  margin-left: 25px;
  margin-top: 20px;
}

/*header Center column */

#C-col-header {
  display: flex;
  align-items: center;
  margin-top: 10px;
  height: 32px;
}

#C-col-header input {
  width: 500px;
  height: 32px;
  background-color: transparent;
}
#C-col-header textarea {
  color: red;
}
#C-col-header button {
  width: 75px;
  height: 32px;
  padding: 0;
  border: 0;

  background-color: #3d3d3d;
}

#C-col-header #search {
  background-color: #181818;
  width: 100%;
  border: 1px solid #3d3d3d;
}
#C-col-header #search i {
  margin: 0px;
  padding: 0px;
  font-size: 15px;
}
#C-col-header .microphone {
  margin-left: 10px;
}

/* header right column */

#R-col-header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 200px;
  height: 100%;
}

#R-col-header .fa-google-plus {
  font-size: 40px;
}

/* main Section */

#main {
  width: auto;
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
  height: auto;
  background-color: red;
}

/* Left column main */
#L-col-main {
  width: 1280px;
  height: 100%;
  background-color: blue;
}

/*video*/
#video {
}
/* video info */
#video-info {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  background-color: pink;
}

#L-col-video-info {
  background-color: orange;
  width: 150px;
}
#L-col-video-info h1 {
  font-size: 25px;
  color: white;
}
#L-col-upload-views {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  background-color: aqua;
}

#R-col-video-info {
  background-color: blueviolet;
  color: white;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;

  width: 225px;
  font-size: 18px;
}
/* video description */
#video-description-top {
  background-color: blueviolet;
}
.divider {
  margin-top: 15px;
  margin-bottom: 15px;

  width: 100%;
  height: 2px;
  background-color: red;
}
#channel-info {
  width: fit-content;
  background-color: orange;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
#channel-info-right {
  background-color: white;
  margin-left: 20px;
}
#channel-info img {
  border-radius: 50%;
}
#channel-info button {
  margin-left: 100%;
  transform: translate(-100%);
}

#video-description-bottom {
  margin-left: 68px;
  margin-top: 15px;
  background-color: orangered;
}

#video-description-bottom a {
  color: white;
  font-weight: 800;
}
