html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

textarea:focus,
input:focus {
  outline: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* siteWide */
body {
  background-color: #181818;
}

h1,
h2 {
  color: white;
}
p {
  color: #aaaaaa;
}
a {
  text-decoration: none;
  color: #909090;
}
input {
  padding: 0;
  border: 0;
}

buttton {
  padding: 0;
  border: 0;
}
/* header */
header {
  display: flex;
  justify-content: space-between;
  background-color: #202020;
  height: 56px;
  width: auto;
}

header i {
  font-size: 24px;
  color: white;
}
/* header left column */

header .fa-youtube {
  color: red;
}

header #myChannel {
  height: 36px;
}

header #L-col-header {
  display: flex;
  justify-content: space-evenly;
  width: 185px;
  margin-left: 25px;
  margin-top: 20px;
}

/*header Center column */

#C-col-header {
  display: flex;
  align-items: center;
  margin-top: 10px;
  height: 32px;
}

#C-col-header input {
  width: 500px;
  height: 32px;
  background-color: transparent;
}
#C-col-header textarea {
  color: red;
}
#C-col-header button {
  width: 75px;
  height: 32px;
  padding: 0;
  border: 0;

  background-color: #3d3d3d;
}

#C-col-header #search {
  background-color: #181818;
  width: 100%;
  border: 1px solid #3d3d3d;
}
#C-col-header #search i {
  margin: 0px;
  padding: 0px;
  font-size: 15px;
}
#C-col-header .microphone {
  margin-left: 10px;
}

/* header right column */

#R-col-header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 200px;
  height: 100%;
}

#R-col-header .fa-google-plus {
  font-size: 40px;
}

/* main Section */

#main {
  display: flex;
  width: auto;
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
  height: auto;
}

/* Left column main */
#L-col-main {
  width: 1280px;
  height: 100%;
}

/*video*/
#video {
}
/* video info */
#video-info {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

#L-col-video-info {
  width: 150px;
}
#L-col-video-info h1 {
  font-size: 25px;
  color: white;
}
#L-col-upload-views {
  color: #aaaaaa;
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

#R-col-video-info {
  color: #909090;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;

  width: 225px;
  font-size: 18px;
}
/* video description */
#video-description-top {
}
.divider {
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #303030;
  width: 100%;
  height: 1px;
}
#channel-info {
  width: fit-content;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
#channel-info-right {
  margin-left: 20px;
}
#channel-info-right h2 {
  color: white;
}
#channel-info-right p {
  color: #aaaaaa;
}
#channel-info img {
  border-radius: 50%;
}
#channel-info button {
  margin-left: 100%;
  transform: translate(-100%);
}

#video-description-bottom {
  margin-left: 68px;
  margin-top: 15px;
}
#video-description-bottom p {
  color: white;
}
#video-description-bottom a {
  color: #aaaaaa;
  font-weight: 800;
}

/* comments */
#comments {
  height: auto;
  width: 100%;
}
/* comments-nav */
#comments-header {
  width: 200px;
  display: flex;
  justify-content: space-between;
}
#comments-header p {
  color: white;
}
#comments-header a {
}

/* comment-input */

#comment-input {
  display: flex;
  align-items: center;
  justify-self: flex-end;
  height: auto;
  width: 100%;
}
#comment-input input {
  width: 98%;
  margin-left: 2%;
  background-color: transparent;
  border-bottom: 1px solid #303030;
}

#comment-input img {
  width: 48px;
  height: 48px;
  border-radius: 50px;
}

/* comment-articles */
#comments-display {
  width: 100%;
  height: auto;
}
.comment {
  margin-top: 30px;
  display: flex;
  width: fit-content;
  height: fit-content;
}

/*comment left column */
.comment-L-col {
  display: flex;
  width: fit-content;
  height: 100%;
}
.comment img {
  width: 48px;
  height: 48px;
  border-radius: 50px;
}

/*comment right column */
.comment-R-col {
  margin-left: 20px;
}
.comment-R-col .commentAuthor {
  font-weight: 700;
  margin-right: 10px;
}
.comment-header {
  display: flex;
  width: fit-content;
}

.comment-body {
  margin-top: 10px;
  margin-bottom: 10px;
}

.comment-footer {
  display: flex;
  flex-direction: row;
}

.comment-footer .rating {
  margin-right: 10px;
}

.comment-footer a {
  font-weight: 900;
}
.comment-footer .rating {
  color: #909090;
}

/* Right column main */
#R-col-main {
  margin-left: 24px;
  width: 100%;
  height: auto;
}

/* video article --------------- */
.reccomended-video {
  display: flex;
  width: 405px;
  height: 100px;
  margin-bottom: 5px;
}

/* video article left column */
.reccomended-video-L-col {
}
.reccomended-video-L-col img {
  width: 168px;
  height: 94px;
}
/* video article right column */
.reccomended-video-R-col {
  display: flex;
  margin-left: 10px;
  flex-direction: column;
}
/* video article header */
.reccomended-video-R-col h2 {
  font-weight: 800;
}
/*video article author */
.reccomended-video-R-col .videoAuthor {
  margin-top: 5px;
  margin-bottom: 2px;
}
/*video article footer */
.reccomended-video-R-col .reccomended-video-footer {
  display: flex;
}
.reccomended-video-R-col .reccomended-video-footer p {
  margin-right: 4px;
}
